@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    position: absolute;
    background-color: rgb(207, 207, 207);
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
}

.sidebar nav {
    padding: 30px;
}

.sidebar nav li {
    list-style: none;
    font-size: 20px;
    padding: 33px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    /* background-color: yellow; */
    width: 90vw;
}

.container {
    display: flex;
}


.infoContainer {
    /* background-color: rgb(196, 31, 127); */
    height: 58vh;
    width: 80vw;
    margin: 140px auto;
    padding: 0 70px;
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */

}


.devinfo {
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello {
    font-size: 3em;


}

.name {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}

.about {
    font-size: 2.5em;
}

.moreabout {
    font-size: 2em;
    margin-top: 23px;
    font-family: 'Fira Sans', sans-serif;
}

.buttons {
    margin-top: 2.2em;
    font-size: 16px;
}

.btn {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: normal;
    font-size: 2em ;
    margin: 3px 3px;
    border: 2px solid black;
    cursor: pointer;
}

.btn-sm {
    font-size: 14px;
    padding: 7px 13px;
    margin: 10px 0px;

}

.btn:hover {
    background-color: white;
    color: dodgerblue;
}

.devpic img {
    height: 70vh;
    border-radius: 10px;

}


/* contact page */

.contactform {

    padding: 0 34px;
    padding-top: 144px;
    font-family: 'Fira Sans', sans-serif;
    margin: 10px 100px;

}

.contactform h1 {
    font-family: 'Source Code Pro', monospace;
    /* padding: 12px 0; */


}

.contactform form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-items: left;
    justify-content: left;


}

.contactform form div input {
    /* width: 26vw; */
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;


}
.contactform form  {
    margin: 0 40px;

}

#emailhelp {
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check {

    flex-direction: row;
}

#form-check input {
    width: 24px;
    margin: 3px 0;
}

/* blog page */
.blogcontainer {
    margin: 50px 100px;

}

.blogitem {
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;



}


.blogcontainer h1 {

    font-family: 'Fira Sans', sans-serif;
    margin: 23px;





}

.blogitem p {

    font-family: 'Source Code Pro', monospace;


}

.intro {
    margin: 50px 100px;


}

.intro h2 {
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;

}

.intro p {
    font-family: 'Source Code Pro', monospace;
    margin: 12px;
}

.skill {
    width: 265px;
    height: 6px;
    background-color: #ff0000;
    border-radius: 4px;


}

.skillitem {
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    margin-left: 20px;





}

.hundred {
    width: 265px;
    background-color: green;
}

.seventyfive {
    width: 225px;
    background-color: yellow;

}

.fifty {
    width: 125px;
    background-color: blue;
}

.sidebarGo {
    transform: translate(-443px, 0);
}

.t5 {
    width: 75px;
    background-color: red;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;

}

.cross {
    margin-left: 120px;
    margin-top: 10px;
}

.ham{
    margin-top: 10px;
    margin-left: 10px;
}





/* media queries for large screen */

@media(max-width:1200px) {
    

    .devinfo{
        font-size: 10px;
    }
    .devpic {
        display: none;
    }

    .intro, .blogcontainer, .contactform{
        margin: 50px 8px;
    }
    .buttons{
        font-size: 6px;
    }

    .contactform h1{
        margin-left: 2rem;
    }



















}